<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>이용약관 및 개인정보보호</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div id="wrap">
    <div class="container">
        <div class="header">
            <div class="top-nav">
                <a href="/" class="title text-decoration-none">
                    <h2>Global Warming Board</h2>
                </a>
            </div>
        </div>

        <div class="use_role">
            <h3>이용 약관</h3>
            <div class="accordion accordion-flush" id="accordionFlushExampleTerms">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne-terms" aria-expanded="false"
                                aria-controls="flush-collapseOne-terms">
                            제 1조(목적)
                        </button>
                    </h2>
                    <div id="flush-collapseOne-terms" class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">제1조 (목적) 이 이용약관(이하 '약관'이라 합니다.)은 이용고객(이하 '회원'이라 합니다)이 Global
                            Warming Board(이하 '회사'라 합니다)의 Global Warming Board 커뮤니티 서비스(이하 '서비스'라 합니다)를 이용함에 있어
                            회사와 회원간의 권리·의무 및 책임사항을 규정함을 목적으로 합니다.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo-terms" aria-expanded="false"
                                aria-controls="flush-collapseTwo-terms">
                            제2조 (회원가입 및 이용계약체결 신청 등)
                        </button>
                    </h2>
                    <div id="flush-collapseTwo-terms" class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            ①회원이 되고자 하는 자는 회사가 정한 Global Warming Board 회원 가입 양식에 따라 회원정보를 기입하고 동의함 단추를 누르는 방법으로
                            회원가입 및 커뮤니티 이용계약체결을 신청합니다.
                            <br>
                            ②회사는 제1항과 같이 회원으로 가입할 것을 신청한 자가 다음 각 호에 해당하지 않는 한 신청한 자를 커뮤니티 이용 회원으로 등록하며, 이용계약체결
                            신청을 승낙, 체결합니다.
                            <br>
                            1)가입신청자가 본 약관 제3조 제3항에 의하여 이전에 회원자격을 상실한 적이 있는 경우. 다만 제3조 제3항에 의한 회원자격 상실 후 3년이 경과한
                            자로서 회사의 회원재가입 승낙을 얻은 경우에는 예외로 합니다.
                            <br>
                            2)등록 내용에 허위, 기재누락, 오기가 있는 경우
                            <br>
                            3)기타 회원으로 등록하는 것이 회사의 기술상 현저히 지장이 있다고 판단되는 경우
                            <br>
                            ③회사는 서비스 이용계약체결 신청이 다음 각 호에 해당하는 경우에는 그 신청에 대하여 승낙 제한사유가 해소될 때까지 승낙을 유보할 수 있습니다.
                            <br>
                            1)회사의 설비 여유가 없는 경우
                            <br>
                            2)회사의 기술상 일시적 지장이 있는 경우
                            <br>
                            3)기타 회사의 귀책사유로 이용승낙이 곤란한 경우
                            <br>
                            ④회사는 이용계약체결 신청고객이 관계법령에서 규정하는 미성년자일 경우에 서비스별 안내에서 정하는 바에 따라 승낙을 보류할 수 있습니다.
                            <br>
                            ⑤회원가입 및 이용계약 체결의 성립시기는 회사의 승낙이 가입신청자에게 도달한 시점으로 합니다.
                            <br>
                            ⑥회원은 제1항의 회원정보 기재 내용에 변경이 발생한 경우, 즉시 변경사항을 정정하여 기재하여야 합니다
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree-terms" aria-expanded="false"
                                aria-controls="flush-collapseThree-terms">
                            제3조 (회원 탈퇴 및 자격 상실 등)
                        </button>
                    </h2>
                    <div id="flush-collapseThree-terms" class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            ①회원은 회사에 언제든지 자신의 회원 등록을 말소해 줄 것(이용자 탈퇴)을 요청할 수 있으며 회사는 위 요청을 받은 즉시 해당 이용자의 회원 등록
                            말소를 위한 절차를 밟습니다.
                            <br>
                            ②회원이 다음 각호의 사유에 해당하는 경우, 회사는 회원자격을 제한 및 정지 시킬 수 있습니다.
                            <br>
                            1)가입 신청 시에 허위 내용을 등록한 경우
                            <br>
                            2)서비스 이용과 관련하여 회원이 부담하는 대금 등의 채무를 기일에 지급하지 않는 경우
                            <br>
                            3)다른 사람의 서비스 이용을 방해하거나 그 정보를 도용하는 등 전자거래질서를 위협하는 경우
                            <br>
                            4)서비스를 이용하여 법령과 본 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우
                            <br>
                            ③회사가 회원 자격을 제한·정지 시킨 후, 동일한 행위가 2회이상 반복되거나 30일이내에 그 사유가 시정되지 아니하는 경우 회사는 회원자격을 상실시킬
                            수 있습니다.
                            <br>
                            ④회사가 회원자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 통지하고, 회원등록 말소전에 소명할 기회를 부여합니다.
                            <br>
                            ⑤회사는 본 서비스를 이용하는 회원에 대하여 회원의 연령, 서비스 이용내용, 시간 및 회수 등에 따라 등급별로 세분하여 서비스 이용에 차등을 둘 수
                            있습니다.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour-terms" aria-expanded="false"
                                aria-controls="flush-collapseFour-terms">
                            제4조 (개인정보의 보호 및 사용)
                        </button>
                    </h2>
                    <div id="flush-collapseFour-terms" class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            ①회사는 관계법령이 정하는 바에 따라 회원 등록정보를 포함한 회원의 개인정보를 보호하기 위해 노력합니다. 회원 개인정보의 보호 및 사용에 대해서는
                            관련법령 및 회사의 개인정보보호정책이 적용됩니다.
                            <br>
                            ②회사는 다음과 같은 경우에 법에서 허용하는 범위 내에서 이용자의 성명, 전자우편주소 등 이용자의 개인정보를 제3자에게 제공할 수 있습니다.
                            <br>
                            1)이용자가 서비스를 이용함에 있어 관련 법률을 위반하여 수사기관이나 기타 정부기관으로부터 정보제공을 요청받는 경우
                            <br>
                            2)이용자의 법률위반, 본 서비스 약관위반을 포함하여 부정행위 확인 등의 정보보호업무를 위해 필요한 경우
                            <br>
                            3)기타 법률에 의해 요구되는 경우
                            <br>
                            ③회사의 공식사이트 외부에서 링크된 정보에 대해서는 회사의 개인정보 보호정책이 적용되지 않습니다. 또한 회사는 이용자의 귀책사유로 인해 노출된 정보에
                            대해서 일체의 책임을 지지 않습니다.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive-terms" aria-expanded="false"
                                aria-controls="flush-collapseFive-terms">
                            제5조 (서비스의 이용 및 중단)
                        </button>
                    </h2>
                    <div id="flush-collapseFive-terms" class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            ①서비스 이용은 회사의 업무상 또는 기술상 특별한 지장이 없는 한 연중무휴, 1일 24시간 운영을 원칙으로 합니다. 단, 회사는 시스템 정기점검, 증설
                            및 교체를 위해 회사가 정한 날이나 시간에 서비스를 일시 중단할 수 있으며, 예정되어 있는 작업으로 인한 서비스 일시중단은 사전에 공지합니다.
                            <br>
                            ②회사는 긴급한 시스템 점검, 증설 및 교체 등 부득이한 사유로 인하여 예고없이 일시적으로 서비스를 중단할 수 있으며, 새로운 서비스로의 교체 등
                            회사가 적절하다고 판단하는 사유에 의하여 현재 제공되는 서비스를 완전히 중단할 수 있습니다.
                            <br>
                            ③회사는 국가비상사태, 정전, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 정상적인 서비스 제공이 불가능할 경우, 서비스의 전부 또는 일부를
                            제한하거나 중지할 수 있습니다. 다만 이 경우 그 사유 및 기간 등을 회원에게 사전 또는 사후에 공지합니다.
                            <br>
                            ④회사는 자신이 통제할 수 없는 사유로 인한 서비스중단의 경우(시스템관리자의 고의, 과실 없는 디스크장애, 시스템다운 등)에 사전통지가 불가능하며
                            타인(기간통신사업자 등)의 고의,과실로 인한 시스템 중단 등의 경우에는 통지하지 않습니다.
                            <br>
                            ⑤회사는 서비스를 특정범위로 분할하여 각 범위별로 이용가능시간을 별도로 지정할 수 있습니다. 다만 이 경우 그 내용을 공지합니다.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSix-terms" aria-expanded="false"
                                aria-controls="flush-collapseSix-terms">
                            제6조 (회사의 의무)
                        </button>
                    </h2>
                    <div id="flush-collapseSix-terms" class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            ①회사는 회원이 희망한 서비스 제공 개시일에 특별한 사정이 없는 한 서비스를 이용할 수 있도록 하여야 합니다.
                            <br>
                            ②회사는 계속적이고 안정적인 서비스의 제공을 위하여 설비에 장애가 생기거나 멸실된 때에는 부득이한 사유가 없는 한 지체없이 이를 수리 또는 복구합니다.
                            <br>
                            ③회사는 개인정보 보호를 위해 보안시스템을 구축하며 개인정보 보호정책을 공시하고 준수합니다.
                            <br>
                            ④회사는 회원으로부터 제기되는 의견이나 불만이 정당하다고 객관적으로 인정될 경우에는 적절한 절차를 거쳐 즉시 처리하여야 합니다. 다만, 즉시 처리가
                            곤란한 경우는 이용자에게 그 사유와 처리일정을 통보하여야 합니다.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSeven-terms" aria-expanded="false"
                                aria-controls="flush-collapseSeven-terms">
                            제7조 (회원의 의무)
                        </button>
                    </h2>
                    <div id="flush-collapseSeven-terms" class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            ①이용자는 회원가입 신청 또는 회원정보 변경 시 실명으로 모든 사항을 사실에 근거하여 작성하여야 하며, 허위 또는 타인의 정보를 등록할 경우 일체의
                            권리를 주장할 수 없습니다.
                            <br>
                            ②회원은 본 약관에서 규정하는 사항과 기타 회사가 정한 제반 규정, 공지사항 등 회사가 공지하는 사항 및 관계법령을 준수하여야 하며, 기타 회사의
                            업무에 방해가 되는 행위, 회사의 명예를 손상시키는 행위를 해서는 안됩니다.
                            <br>
                            ③회원은 주소, 연락처, 전자우편 주소 등 이용계약사항이 변경된 경우에 해당 절차를 거쳐 이를 회사에 즉시 알려야 합니다.
                            <br>
                            ④회사가 관계법령 및 '개인정보 보호정책'에 의거하여 그 책임을 지는 경우를 제외하고 회원에게 부여된 ID의 비밀번호 관리소홀, 부정사용에 의하여
                            발생하는 모든 결과에 대한 책임은 회원에게 있습니다.
                            <br>
                            ⑤회원은 회사의 사전 승낙 없이 서비스를 이용하여 영업활동을 할 수 없으며, 그 영업활동의 결과에 대해 회사는 책임을 지지 않습니다. 또한 회원은 이와
                            같은 영업활동으로 회사가 손해를 입은 경우, 회원은 회사에 대해 손해배상의무를 지며, 회사는 해당 회원에 대해 서비스 이용제한 및 적법한 절차를 거쳐
                            손해배상 등을 청구할 수 있습니다.
                            <br>
                            ⑥회원은 회사의 명시적 동의가 없는 한 서비스의 이용권한, 기타 이용계약상의 지위를 타인에게 양도, 증여할 수 없으며 이를 담보로 제공할 수 없습니다.
                            <br>
                            ⑦회원은 회사 및 제 3자의 지적 재산권을 침해해서는 안됩니다.
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="personal-info">
            <h3>개인 정보 보호법</h3>
            <div class="accordion accordion-flush" id="accordionFlushExamplePrivacy">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne-privacy" aria-expanded="false"
                                aria-controls="flush-collapseOne-privacy">
                            1. 적용대상
                        </button>
                    </h2>
                    <div id="flush-collapseOne-privacy" class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            분야별 개별법에 따라 시행되던 개인정보 보호 의무 적용 대상을 공공 민간부문의 모든 개인정보처리자료 확대 적용
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo-privacy" aria-expanded="false"
                                aria-controls="flush-collapseTwo-privacy">
                            2. 보호범위
                        </button>
                    </h2>
                    <div id="flush-collapseTwo-privacy" class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            동사무소 민원신청서류 등 종이문서에 기록된 개인정보 외의 컴퓨터 등에 의해 처리되는 정보,가명처리 된 개인정보도 보호대상에 포함
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree-privacy" aria-expanded="false"
                                aria-controls="flush-collapseThree-privacy">
                            3. 개인정보 수집·이용·제공 기준
                        </button>
                    </h2>
                    <div id="flush-collapseThree-privacy" class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            개인정보를 수집 할 때는 정보주체의 동의를 받아야 하며, 수집・이용 목적, 수집 항목, 보유 및 이용 기간, 동의 거부권 등을 알려야 함
                            <br>
                            개인정보를 수집할 때는 필요 최소한으로 수집해야 함
                            <br>
                            개인정보를 제3자에게 제공할 때는 정보주체의 동의를 받아야 함
                            <br>
                            개인정보는 수집한 목적 범위를 초과하여 이용하거나 제3자에게 제공 금지
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour-privacy" aria-expanded="false"
                                aria-controls="flush-collapseFour-privacy">
                            4. 개인정보의 처리 제한
                        </button>
                    </h2>
                    <div id="flush-collapseFour-privacy" class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            사상・신념, 노동조합, 정당의 가입・탈퇴, 정치적 견해, 건강, 성생활 등 정보주체의 사생활을 침해할 우려가 있는 정보 처리 금지
                            <br>
                            고유식별정보는 법령에서 구체적으로 처리를 요구한 경우를 제외하고 원칙적으로 처리 금지
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive-privacy" aria-expanded="false"
                                aria-controls="flush-collapseFive-privacy">
                            5. 영상정보 처리기기 규제
                        </button>
                    </h2>
                    <div id="flush-collapseFive-privacy" class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            공개된 장소에 설치·운영하는 영상정보처리기기 규제를 민간까지 확대
                            <br>
                            설치목적을 벗어난 카메라 임의조작, 다른 곳을 비추는 행위, 녹음 금지
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSix-privacy" aria-expanded="false"
                                aria-controls="flush-collapseSix-privacy">
                            6. 개인정보 유출 통지 및 신고제 도입
                        </button>
                    </h2>
                    <div id="flush-collapseSix-privacy" class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            정보주체에게 개인정보 유출 사실을 통지
                            <br>
                            대규모 유출 시에는 보호위원회 또는 전문기관(한국인터넷진흥원)에 신고
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSeven-privacy" aria-expanded="false"
                                aria-controls="flush-collapseSeven-privacy">
                            7. 정보주체의 권리 보장
                        </button>
                    </h2>
                    <div id="flush-collapseSeven-privacy" class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            정보주체는 개인정보처리자에게 자신의 개인정보에 대한 열람, 정정・삭제, 처리정지 등을 요구 가능
                            <br>
                            정보주체는 개인정보처리자의 고의 또는 중대한 과실로 인하여 개인정보가 분실, 도난, 유출, 위조, 변조 또는 훼손 된 경우 손해에 대한 배상을 요청할 수 있음
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseEight-privacy" aria-expanded="false"
                                aria-controls="flush-collapseEight-privacy">
                            8. 안전조치 의무
                        </button>
                    </h2>
                    <div id="flush-collapseEight-privacy" class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            개인정보처리자는 개인정보가 분실, 도난, 유출, 위조, 변조 또는 훼손되지 않도록 내부관리계획 수립, 접속기록 보관 등 안전성 확보에 필요한 기술적・관리적 및 물리적 조치를 하여야 함
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseNine-privacy" aria-expanded="false"
                                aria-controls="flush-collapseNine-privacy">
                            9. 가명정보의 처리에 관한 특례 도입
                        </button>
                    </h2>
                    <div id="flush-collapseNine-privacy" class="accordion-collapse collapse"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            통계작성, 과학적 연구, 공익적 기록보존 등을 위하여 정보주체의 동의 없이도 가명정보 처리 허용
                            <br>
                            통계작성, 과학적 연구, 공익적 기록보존 등의 처리목적 외로 이용하거나 제3자에게 제공, 영리 또는 부정한 목적으로 이용 금지
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</body>
</html>