{{>layouts/after_menuheader}}
<div class="main">
    <div class="container shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="meaning_explain">
            <div class="explain_title">
                <h1>
                    Global Warming : 지구 온난화
                </h1>
            </div>

            <div class="section">
                <div class="section_explain">
                    지구온난화를 설명하기 전에 지구시스템을 그림으로 설명할 수 있다. <br>
                    지구 시스템은 서로 밀접한 관련성을 가지며 5개 권역에 물질과 에너지가 순환하며 상호작용하여 다양한 날씨와 기후를 만들어 냅니다.
                </div>

                <div class="meaning_section_img">
                    <img src="/bootstrap-5.3.3-dist/img/meaning/earth_system.png" class="img-fluid" alt="#">
                </div>

                <div class="section_title">

                    <div class="air box mb-2">
                        <span class="text_title">대기권</span> <br>
                        우리가 살고 있는 지구를 에워싸고 있는 공기층
                    </div>

                    <div class="water box mb-2">
                        <span class="text_title">수권</span> <br>
                        지구에 있는 모든 물 <br>
                        즉, 바다와 육지에 분포하는 모든 물
                    </div>

                    <div class="ice box mb-2">
                        <span class="text_title">빙권</span> <br>
                        지구 표면 위, 아래가 모두 눈, 얼음, 계속 얼어 있는 땅으로 구성되어 있는 곳
                    </div>


                    <div class="land box mb-2">
                        <span class="text_title">지권</span> <br>
                        기후시스템 중에서 암석과 토양 부분
                    </div>

                    <div class="life box mb-2">
                        <span class="text_title">생물권</span> <br>
                        인간을 포함한 수백만 종의 작은 생물들을 포함해 아직 분해되지 않은 죽은 생물까지도 포함하는 지구의 생물들
                    </div>
                </div>
            </div>

            <div class="article">
                <div class="article-header mb-3">
                    <h2 class="article_text">기후변화의 정의</h2>
                </div>

                <div class="article-info mb-3">
                    <div class="climate">
                        ‘기후’는 일정한 지역에서 30년이상의 오랜 기간에 걸쳐 나타나는
                        날씨의 평균적인 상태를 의미하며 기후변화의 정의는 다양하게 제시되고 있습니다
                    </div>

                    <div class="definition mb-3">
                        <span class="article_text">일반적인 정의</span> :
                        화산폭발, 태양활동 변화, 지구궤도 변화 등의 자연적 요인 혹은 화석연료 연소, 토지이용, 산업 활동 등 인간 활동에 의한 요인에 의해 전체 기후시스템이 장기적으로 변동하거나 변화하는 것
                    </div>

                    <div class="article-img mb-5">
                        <img src="/bootstrap-5.3.3-dist/img/meaning/cause.png" class="img-fluid" alt="#">
                    </div>
                </div>
            </div>

            <div class="main_img">
                <img src="/bootstrap-5.3.3-dist/img/meaning/global-warming.png" class="img-fluid" alt="#">
            </div>

            <div class="explain_mean">
                <div class="warming">
                    <div class="text_point">온실가스</div>
                    대기 중의 온실가스는 지구 밖으로 나가는 태양복사에너지를 흡수하여 지구의 온도를 적절하게 유지시키는 ‘온실효과’를 만듭니다. 온실가스가 대기 중에서 모두 없어지면 지구 표면 온도가 -18℃ 정도로 낮아지게 됩니다. 적절한 지구 온도를 유지하기 위해서 온실가스는 반드시 필요합니다.
                </div>

                <div class="gas">
                    <div class="text_point">"지구온난화"</div>
                    다양한 자연적ㆍ인위적 요인들, 특히 인간 활동으로 인해 온실가스의 양이 필요 이상으로 늘어나게 된 후 지구의 온도가 지나치게 더워지는 현상이 발생하게 되는데 이를 ‘지구온난화’라고 말합니다. 온실가스의 증가로 계속되는 지구온난화는 기후변화를 가져오게 됩니다
                </div>
            </div>




            <div class="temp">
                <img src="/bootstrap-5.3.3-dist/img/meaning/global-temp.png" class="img-fluid tem" alt="#">
            </div>
        </div>
    </div>
</div>
{{>layouts/homefooter}}